/* Start Styling Main Content Section */

.main-content {
	margin-bottom: 65px;
}

/* End Styling Main Content Section */

/* Start Styling Footer Section */

.footer {
	background-color: #333;
	color: #fff;

	width: 100%;
	padding: 20px;

	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	
}

/* End Styling Footer Section */